body{color:#0080f6; font-size:20px; padding-top: 50px;}
.boxWrapper{border: 1px solid #b5dcff;padding: 10px;display: inline-block;width: 100%;}
    .leftFilterBar{border: 1px solid #b5dcff;position: relative;padding-top: 49px;}
        .clearFilter{position: absolute;top: 4px;left:10px;}
        .filter{padding: 10px;}
            .filterName {padding-left: 24px; font-size: 22px;}
                .check, .radio{display: inline-block;width: 16px;height: 16px;border: 1px solid #878787;
                    min-height: initial;margin: 0px; line-height: 16px; margin-right: 5px;}
                .radio{border-radius: 50%; }
                .check span, .radio span {display: block; height: 100%; cursor:pointer;}
                .check span.active, .radio span.active{background: #0080f6;width: 12px;height: 12px;border: 2px solid white;box-sizing: border-box; margin: 1px;vertical-align: top;text-align: center;}
                .radio span.active{border-radius: 50%; }
                .check span.active.false, .radio span.active.false{background: none;}
    .content{vertical-align: top;padding: 0px 0px 15px 10px;height: 100%;}
        .item{border: 1px solid #b5dcff;margin: 0 0 15px 0;padding: 15px;}

.button{width: 90%;background: #1fc343;border:none;margin: 10px auto 0 auto;box-sizing: border-box;color: white;display: block;padding: 5px 0;}

    